body{
    background-color: #9ec7c0;
    font-size: 16px;
    font-weight: normal;
}
.bodyExceptHeader{
    width: 80%;
    margin:auto;
}
.contactList a{
    font-family: "Bell MT";
    font-size: 30px;
    color: #33333b;
}
.contactList h1{
    font-family: "Bell MT";
}
