<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.orh/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{authentication.tittle}">Home Page</title>
    <link rel="stylesheet" type="text/css" href="/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/registration.css"/>
</head>
<body>
<div class="pageHead">
    <header th:insert="blocks/header::header"></header>

    <div class="headerPageTable">
        <div class="nameOfPage">
            <a th:text="#{authentication.name}"/>
        </div>
        <header th:insert="blocks/menu::menu"></header>
    </div>
</div>
<div class="bodyExceptHeader">
            <form th:method="POST" th:action="@{~/authentication}" >
                <div class="label">
                <label for="keyForUser" th:text="#{authentication.key}">Enter the key</label>
                </div>
                <div th:if="${error}!=null" class="constraint">
                    <span th:text="#{constraint.key}"></span>

                </div>
                <input type="text"  th:name="key" id="keyForUser" th:placeholder="#{authentication.placeholderForKey}"
                       class="input">
                <button type="submit" th:text="#{authentication.button}"
                        class="btnForRegistration">Authentication Of User</button>
            </form>
</div>
<script src="/js/dropList.js"></script>
</body>
</html>