<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.orh/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{authorization.tittle}">Authorization</title>
</head>
<body>
<table>
    <div class="pageHead">
        <header th:insert="blocks/header::header"></header>

        <div class="headerPageTable">
            <div class="nameOfPage">
                <a th:text="#{authorization.name}"/>
            </div>
            <header th:insert="blocks/menu::menu"></header>
        </div>
    </div>

</table>
<form th:method="POST" th:action="@{/authorization}" th:object="${user}">
    <input type="hidden" th:field="*{roles}">
    <input type="hidden" th:field="*{authenticationStatus}">
    <label for="username" th:text="#{authorization.username}">Enter username</label>
        <input type="text" th:field="*{username}" id="username" th:placeholder="#{authorization.username}">

    <label for="password" th:text="#{authorization.password}">Enter password</label>
    <input type="password" th:field="*{password}" id="password" th:placeholder="#{authorization.password}">
    <br>
    <label for="email" th:text="#{authorization.email}">Enter email</label>
    <input type="email" th:field="*{email}" id="email" th:placeholder="#{authorization.email}">
    <br>
<!--    <div th:if="${#fields.hasErrors('firstName')}" class="form-editFirstName">-->
<!--        <span th:errors="*{firstName}"></span>-->
<!--    </div>-->
<!--    <label for="firstName">Enter firstName</label>-->
<!--    <input type="text" th:field="*{firstName}" id="firstName">-->
<!--    <br>-->
<!--    <div th:if="${#fields.hasErrors('surname')}" class="form-editFirstName">-->
<!--        <span th:errors="*{surname}"></span>-->
<!--    </div>-->
<!--    <label for="surname">Enter surname</label>-->
<!--    <input type="text" th:field="*{surname}" id="surname">-->
<!--    <br>-->
<!--    <div th:if="${#fields.hasErrors('patronymic')}" class="form-editFirstName">-->
<!--        <span th:errors="*{patronymic}"></span>-->
<!--    </div>-->
<!--    <label for="patronymic">Enter patronymic</label>-->
<!--    <input type="text" th:field="*{patronymic}" id="patronymic">-->
<!--    <br>-->
<!--    <label for="address">Enter address</label>-->
<!--    <input type="text" th:field="*{address}" id="address">-->
<!--    <br>-->
<!--    <label for="dateOfBirthday">Enter dateOfBirthday</label>-->
<!--    <input type="date" th:field="*{dateOfBirthday}" id="dateOfBirthday">-->
<!--    <br>-->
<!--    <label for="phoneNumber">Enter phone number</label>-->
<!--    <input type="tel" th:field="*{phoneNumber}" id="phoneNumber">-->
<!--    <br>-->
    <button type="submit" th:text="#{authorization.button}">Authorization</button>
</form>


</body>
</html>