
<div th:fragment="header" >
    <div class="btnsLang">
        <form th:action="@{~/}">
            <button type="submit" value="ru" th:name="lang" th:text="#{bottom.rus}" class="btnLang"></button>
        </form>
<!--        <a th:href="@{'/?lang=ru'}" th:text="#{bottom.rus}"></a>-->
<!--        <a th:href="@{'/?lang=en'}" th:text="#{bottom.eng}"></a>-->
        <form th:action="@{~/}">
            <button type="submit" value="en" th:name="lang" th:text="#{bottom.eng}" class="btnLang"></button>
        </form>
    </div>
    <div class="headerTittle">
        <h1>Hospital</h1>
    </div>

</div>