<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.orh/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{personalList.name}">Title</title>
    <link rel="stylesheet" type="text/css" href="/css/person/personal-list.css"/>
    <link rel="stylesheet" type="text/css" href="/header.css"/>
</head>
<body>
<div class="pageHead">
    <header th:insert="blocks/header::header"></header>

    <div class="headerPageTable">
        <div class="nameOfPage">
            <a th:text="#{personalList.name}"/>
        </div>
        <header th:insert="blocks/menu::menu"></header>
    </div>
</div>
<div class="bodyExceptHeader">
<div class="searchPersonalInput">
    <form th:method="GET" th:action="@{~/searchPersonal}"  class="formForSearch">
        <input type="text" name="keyword" placeholder="Enter information" th:placeholder="#{searchPerson.placeholderForSearch}"/>
        <button type="submit" value="Search" class="btnPersonal" th:text="#{searchPerson.buttonSearch}"></button>
    </form>
</div>
<table class="tableOfPersonal">
    <thead>
    <tr>
        <th></th>
        <th>
                <a th:text="#{searchPerson.surname}">
                    Surname
                </a>
        </th>
        <th>
                <a th:text="#{searchPerson.firstName}">
                    Firstname
                </a>
        </th>
        <th>
                <a th:text="#{searchPerson.patronymic}">
                    Patronymic
                </a>
        </th>
        <th>
                <a th:text="#{searchPerson.address}">
                    Address
                </a>
        </th>
        <th>
                <a th:text="#{searchPerson.dateOfBirthday}">
                    DateOfBirthday
                </a>
        </th>
        <th><a th:text="#{searchPerson.phoneNumber}">Phone number</a></th>
    </tr>
    </thead>
    <tbody id="personalListTbody">
    <div  th:each="person : ${persons}">
    <tr>
        <td>
            <div th:unless="${person.user}==null">
                <img th:src="@{${person.getUser().getImagePath()}}" style="width: 40px"/>
            </div>
        </td>
        <td><a th:href="@{~/personal/{id}(id=${person.getId()})}" th:text="${person.getSurname()}"></a> </td>
        <td><a th:text="${person.firstName}"/></td>
        <td><a th:text="${person.patronymic}"/> </td>
        <td><a th:text="${person.address}"/></td>
        <td><a th:text="${person.dateOfBirthday}"/></td>
        <td><a th:text="${person.phoneNumber}"/></td>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <td>
                <form th:method="get" th:action="@{/updatePerson/{id}(id=${person.getId()})}">
                    <button type="submit" class="btn btn-updatePerson" th:text="#{searchPersonal.edit}">Update Person</button>
                </form>
                <form th:method="get" th:action="@{/deletePerson/{id}(id=${person.getId()})}">
                    <button type="submit" class="btn btn-deletePerson" th:text="#{searchPersonal.delete}">Delete Person</button>
                </form>
            </td>
        </div>
    </tr>
    </div>
    </tbody>
</table>
<form th:method="GET" th:action="@{~/}">
    <button type="submit" class="btnPersonal btnBottom" th:text="#{homePage}">Back to home page</button>
</form>
<div class="pagination">
    <p><a th:text="#{personal.number}">Number of persons</a> <a th:text="${page.getTotalElements()}">Number Of Elements</a>
        <a th:text="#{page}"> -Page</a> <a th:text="(__${page.number}__+1)"/>
        <a>of</a> <a th:text="${page.totalPages}"/>
        <a> </a><a> - </a><a> </a>
        <a th:if="${pageNumber}>1" th:href="@{'/searchPersonal/'+1}" class="paginationHref1 paginationHref2"
        th:text="#{first}">First</a>
        <a> </a>
        <a th:unless="${pageNumber}==1" th:href="@{'/searchPersonal/' + ${pageNumber-1}}"
           class="paginationHref1 paginationHref2" th:text="#{previous}">Previous</a>
        <span th:each="i : ${#numbers.sequence(1,__${page.totalPages}__)}">
            <a th:href="@{'/searchPersonal/'+${i}}" class="paginationHref1">[[${i}]]</a> <a> </a>
          </span>
        <a th:unless="${pageNumber}==(__${page.totalPages}__)" th:href="@{'/searchPersonal/'+${pageNumber+1}}"
           class="paginationHref1 paginationHref2" th:text="#{next}">Next</a>
        <a> </a>
        <a th:if="${pageNumber}<(__${page.totalPages}__)" th:href="@{'/searchPersonal/'+${page.totalPages}}"
           class="paginationHref1 paginationHref2" th:text="#{last}">Last</a>
    </p>
</div>
<!--<form th:method="GET" th:action="@{/getAllHistories}"-->
<!--<div class="text-end" sec:authorize="!isAuthenticated()">-->
<!--    <form th:method="get" th:action="@{/login}">-->
<!--        <button type="submit" class="btn my-btn btn-outline-light me-2">Войти</button>-->
<!--    </form>-->
<!--    <form th:method="get" th:action="@{/sign-up}">-->
<!--        <button type="submit" class="btn btn-warning">Зарегистрироваться</button>-->
<!--    </form>-->
<!--</div>-->
</div>
<script src="/js/dropList.js"></script>
</body>
</html>