<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.orh/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{personAdd.name}">Person info!!</title>
    <link rel="stylesheet" type="text/css" href="/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/person/person-add-info.css"/>
</head>
<body>
<div class="pageHead">
    <header th:insert="blocks/header::header"></header>

    <div class="headerPageTable">
        <div class="nameOfPage">
            <a th:text="#{personAdd.name}"/>
        </div>
        <header th:insert="blocks/menu::menu"></header>
    </div>
</div>
<div class="bodyExceptHeader">
<form th:method="POST" th:action="@{/saveNewPerson}" th:object="${person}" class="formForPerson">
    <div class="formWithoutBtn">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{user}">
    <input type="hidden" th:field="*{keyForUser}">

    <div class="label">
    <label for="firstName" th:text="#{personAdd.firstname}">Enter firstName</label>
    </div>
        <div th:if="${#fields.hasErrors('firstName')}" class="constraint">
            <span th:text="#{constraint.firstname}"></span>
        </div>
    <div class="input">
    <input type="text" th:field="*{firstName}" id="firstName" th:placeholder="#{personAdd.firstname}">
    </div>

    <div class="label">
    <label for="surname" th:text="#{personAdd.surname}">Enter surname</label>
    </div>
        <div th:if="${#fields.hasErrors('surname')}" class="constraint">
            <span th:text="#{constraint.surname}"></span>
        </div>
    <div class="input">
    <input type="text" th:field="*{surname}" id="surname" th:placeholder="#{personAdd.surname}">
    </div>

    <div class="label">
    <label for="patronymic" th:text="#{personAdd.patronymic}">Enter patronymic</label>
    </div>
        <div th:if="${#fields.hasErrors('patronymic')}" class="constraint">
            <span th:text="#{constraint.patronymic}"></span>
        </div>
    <div class="input">
    <input type="text" th:field="*{patronymic}" id="patronymic" th:placeholder="#{personAdd.patronymic}">
    </div>

    <div class="label">
    <label for="address" th:text="#{personAdd.address}">Enter address</label>
    </div>
        <div th:if="${#fields.hasErrors('address')}" class="constraint">
            <span th:text="#{constraint.address}"></span>
        </div>
    <div class="input">
    <input type="text" th:field="*{address}" id="address" th:placeholder="#{personAdd.address}">
    </div>


    <div class="label">
    <label for="dateOfBirthday" th:text="#{personAdd.dateOfBirthday}">Enter dateOfBirthday </label>
    </div>
        <div th:if="${#fields.hasErrors('dateOfBirthday')}" class="constraint">
            <span th:text="#{constraint.age}"></span>
        </div>
    <div class="input">
    <input type="date" th:field="*{dateOfBirthday}" id="dateOfBirthday" th:placeholder="#{personAdd.dateOfBirthday}">
    </div>

    <div class="label">
    <label for="phoneNumber" th:text="#{personAdd.phoneNumber}">Enter phoneNumber</label>
    </div>
        <div th:if="${#fields.hasErrors('phoneNumber')}" class="constraint">
            <span th:text="#{constraint.phoneNumber}"></span>
        </div>
    <div class="input">
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" th:placeholder="#{personAdd.phoneNumber}">
    </div>
    </div>
    <div class="formOnlyButton">
    <button type="submit" th:text="#{save}" class="btnForPerson">Save</button>
    </div>
</form>
    <form th:method="GET" th:action="@{~/persons}">
        <input type="hidden" name="sortField" value="surname">
        <input type="hidden" name="sortDirection" value="asc">
        <button type="submit" th:text="#{personAdd.back}" class="btnForPerson bot">Back to list</button>
    </form>
</div>
<script src="/js/dropList.js"></script>
</body>
</html>