<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.orh/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{addProcess.name}">Title</title>
    <link rel="stylesheet" type="text/css" href="/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/history/add-process-to-medical-history.css"/>
</head>
<body>
<div class="pageHead">
    <header th:insert="blocks/header::header"></header>

    <div class="headerPageTable">
        <div class="nameOfPage">
            <a th:text="#{addProcess.name}"/>
        </div>
        <header th:insert="blocks/menu::menu"></header>
    </div>
</div>
<div class="bodyExceptHeader">
    <form th:method="POST" th:action="@{~/addProcessToMedicalHistory}" th:object="${medicalHistoryProcess}"
          class="inputForProcess">
        <div class="labelForProcess label">
            <label for="selectOfProcess" th:text="#{addProces.select}">Select the process</label>
        </div>
        <div class="input">
            <select th:field="*{nameOfProcess.process}" id="selectOfProcess" class="select">
                <div th:each="process:${processes}">
                    <option th:value="${process.getId()}" th:text="${process.name}"></option>
                </div>
            </select>
        </div>


        <div class="labelForProcess label">
            <label for="nameOfProcess" th:text="#{addProcess.processName}">Enter name</label>
        </div>
        <input type="hidden" th:field="*{medicalHistory}"/>
        <div th:if="${#fields.hasErrors('nameOfProcess.name')}" class="constraint">
            <span th:text="#{constraint.nameOfProcess}"></span>
        </div>
        <div class="input">
            <input type="text" th:field="*{nameOfProcess.name}" id="nameOfProcess"
                   th:placeholder="#{addProcess.placeholderForProcessName}"/>
        </div>
        <div class="labelForProcess label" >
            <label for="quantityOfProcess" th:text="#{addProcess.number}">Enter number of days</label>
        </div>
        <div th:if="${#fields.hasErrors('numberOfDays')}" class="constraint">
            <span th:text="#{constraint.numberOfDays}"></span>
        </div>

        <div class="input">
            <input type="number" th:field="*{numberOfDays}" id="quantityOfProcess"
                   th:placeholder="#{addProcess.placeholderForNumber}"/>
        </div>
        <div class="labelForProcess label">
            <label for="quantityPerDayOfProcess" th:text="#{addProcess.quantity}">Enter quantity per day</label>
        </div>
        <div th:if="${#fields.hasErrors('numberOfDays')}" class="constraint">
            <span th:text="#{constraint.quantityPerDay}"></span>
        </div>
        <div class="input">
            <input type="number" th:field="*{quantityPerDay}" id="quantityPerDayOfProcess"
                   th:placeholder="#{addProcess.placeholderForQuantity}"/>
        </div>


        <button type="submit" th:text="#{addProcess.add}" class="btnForProcess">Add process</button>
    </form>

</div>
<script src="/js/dropList.js"></script>
</body>
</html>