<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.orh/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" href="/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/history/history.css"/>
    <meta charset="UTF-8">
    <title th:text="#{historyInfo.name}">History</title>
</head>
<body>
<div class="pageHead">
    <header th:insert="blocks/header::header"></header>

    <div class="headerPageTable">
        <div class="nameOfPage">
            <a th:text="#{historyInfo.name}"/>
        </div>
        <header th:insert="blocks/menu::menu"></header>
    </div>
</div>

   <div class="historyTables">
   <table class="patientInfoTable">
       <tbody>
       <div class="verticalBodyTable">
       <tr class="verticalOdd">
       <td><a class="verticalBodyTable" th:text="#{historyInfo.patient}">Patient</a></td>
       <td><a class="verticalBodyTable" th:text="#{userAppointments.doctor}">Doctor</a></td>
       <td><a class="verticalBodyTable" th:text="#{historyInfo.receipt}">Receipt Date</a></td>
       <td><a class="verticalBodyTable" th:text="#{historyInfo.discharge}">Discharge Date</a></td>
       </tr>
       <tr>
       <td><a th:text="${history.getPatient().getFIO()}" class="verticalBodyTable">value</a></td>
       <td><a th:text="${history.getDiagnosis().getPersonal().getFIO()}" class="verticalBodyTable">value</a></td>
       <td><a th:text="${history.getReceiptDate()}" class="verticalBodyTable">value</a></td>
       <td><a th:text="${history.getDischargeDate()}" iclass="verticalBodyTable">value</a></td>
       </tr>
       </div>
       </tbody>
   </table>
<table class="processInfoTable">
    <thead>
    <th><a th:text="#{historyInfo.type}">Type</a></th>
    <th><a th:text="#{historyInfo.nameOfProcess}">Name</a></th>
    <th><a th:text="#{historyInfo.numberDays}">Number Days</a></th>
    <th><a th:text="#{historyInfo.quantity}">Quantity per day</a></th>
    <th></th>
    </thead>
    <tbody>
    <div th:each="process, iterStat : ${history.medicalHistoryProcesses}">
        <div th:if="(__${process.getNameOfProcess().getProcess().getId()}__)==1" class="operation">
            <tr>
                <td ><a th:text="#{historyInfo.operation}">Operation</a></td>
                <td>
                    <a th:text="${process.nameOfProcess.name}"/>
                </td>
                <td>
                    <div>
                        <a th:text="${process.getNumberOfDays()}"></a>
                    </div>
                </td>
                <td>
                    <div th:if="(__${process.getQuantityPerDay()}__)>1">

                        <a th:text="${process.getQuantityPerDay()}"></a>
                    </div>
                </td>
                <td>
                    <div th:if="${process.isStatus()}"><a th:text="#{historyInfo.done}">Done</a></div>
                    <div th:unless="${process.isStatus()}"><a/></div>
                </td>
                <div sec:authorize="hasRole('NURSE')">
                <td>
                    <form th:method="GET" th:action="@{/processExecutionHistory/{id}(id=${process.getId()})}">
                        <button type="submit" class="btnForProcess" th:text="#{historyInfo.information}">More information</button>
                    </form>
                </td>
                </div>

            </tr>
            </div>
        <div th:if="(__${process.getNameOfProcess().getProcess().getId()}__)==2" class="procedure">
            <tr>
                <td><a th:text="#{historyInfo.procedure}">Procedure</a></td>
                <td>
                    <a th:text="${process.nameOfProcess.name}"/>
                </td>
                <td>
                    <div>
                        <a th:text="${process.getNumberOfDays()}"></a>
                    </div>
                </td>
                <td>
                    <div th:if="(__${process.getQuantityPerDay()}__)>1">
                        <a th:text="${process.getQuantityPerDay()}"></a>
                    </div>
                </td>
                <td>
                    <div th:if="${process.isStatus()}"><a>Done</a></div>
                    <div th:unless="${process.isStatus()}"><a/></div>
                </td>
                <div sec:authorize="hasRole('NURSE')">
                <td>
                    <form th:method="GET" th:action="@{/processExecutionHistory/{id}(id=${process.getId()})}">
                        <button type="submit" class="btnForProcess" th:text="#{historyInfo.information}">More information</button>
                    </form>
                </td>
                </div>
            </tr>
        </div>
        <div th:if="(__${process.getNameOfProcess().getProcess().getId()}__)==3" class="medication">
            <tr>
                <td><a th:text="#{historyInfo.medication}">Medication</a></td>
                <td>
                    <a th:text="${process.nameOfProcess.name}"/>
                </td>
                <td>
                    <div>
                        <a th:text="${process.getNumberOfDays()}"></a>
                    </div>
                </td>
                <td>
                    <div th:if="(__${process.getQuantityPerDay()}__)>1">
                        <a th:text="${process.getQuantityPerDay()}"></a>
                    </div>
                </td>
                <td>
                    <div th:if="${process.isStatus()}"><a>Done</a></div>
                    <div th:unless="${process.isStatus()}"><a/></div>
                </td>
                <div sec:authorize="hasRole('NURSE')">
                <td>
                    <form th:method="GET" th:action="@{/processExecutionHistory/{id}(id=${process.getId()})}">
                        <button type="submit" class="btnForProcess" th:text="#{historyInfo.information}">More information</button>
                    </form>
                </td>
                </div>
            </tr>
    </div>
    </div>
    </tbody>
</table>
   </div>
   <div class="btnsBottomHistory" th:unless="${history.isDischargeStatus()}">
<div sec:authorize="hasRole('DOCTOR')" class="addProcessToHistory">
    <form th:method="GET" th:action="@{/addProcessToMedicalHistory/{id}(id=${history.getId()})}">
        <button type="submit" class="btnHistory" th:text="#{historyInfo.addProcess}">Add Process</button>
    </form>
</div>
<div sec:authorize="hasRole('DOCTOR')">
<form th:method="GET" th:action="@{~/dischargePatient/{id}(id=${history.getId()})}">
    <button type="submit"  class="btnHistory" th:text="#{historyInfo.patientDischarge}">Discharge the patient</button>
</form>
</div>
   </div>
   <script src="/js/dropList.js"></script>
</body>
</html>







